.totalCount {
    color:#A37EF1;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

}
.head-card{
    flex: auto;
    padding: 0 15px;
}
.head-card:nth-child(2n){
    padding: 0;
}
.submitCount {
    color: #0066FF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

}
.activeCount{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    color: #00C6E1;
}
.completCount {
    color: #13BC86;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

}

.pendingCount {
    color: #F16A21;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

}
