table {
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 0 !important;
}

table td,
table th {
  border: none;
  padding: 8px;
}
.filter-row h5{
  float:left;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
}
.filter-row span{
  float: right;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  height: 49px;
  line-height: 24px !important;
}
.table-pagination{
  text-align: right;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #dee2e6;
  border-top:0;
}
.table-pagination .pageNum{
  border:0;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  margin-right: 10px;
}
.table-pagination label{
  font-size: 14px;
  line-height: 16px;
  color: #757575;

}
.table-pagination span{
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.prev-next{
  display: inline;
}
.prev-next button{
  border: 0;
  font-size: 23px;
    line-height: 23px;
    color: #757575;
}