table {
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 0 !important;
}

table td,
table th {
  border: none;
  padding: 8px;
}
.filter-row h5{
  float:left;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
  margin: 0;
}
.filter-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.filter-row input{
  border: 1px solid #757575;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #757575;
  height: 28px;
  padding: 0 10px;
  margin-right: 10px;
}
.filter-row select{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #757575;
  border: none;
  background: transparent;
}
.filter-row input:focus-visible, .filter-row select:focus-visible{
  outline: 0 !important;
}
.filter-row span{
  float: right;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  height: 49px;
  line-height: 24px !important;
}
.table-pagination{
  text-align: right;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #dee2e6;
  border-top:0;
}
.table-pagination .pageNum{
  border:0;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  margin-right: 10px;
}
.table-pagination label{
  font-size: 14px;
  line-height: 16px;
  color: #757575;

}
.table-pagination span{
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.prev-next{
  display: inline;
  padding-left: 10px;
}
.prev-next button{
  border: 0;
  font-size: 23px;
    line-height: 23px;
    color: #757575;
    background:transparent;
}